<h1>Someone needs help ?</h1>
<p>Looks like you need some assistance developping in Ruby ?</p>
<p>Try <a href="https://www.codementor.io/ruby-on-rails-experts">this</a> site before all !</p>
<p>If it ain't what you're looking for, try <a href="http://stackoverflow.com/questions/tagged/ruby-on-rails">this</a> maybe !</p>
<p>If nothing worked, well... good luck :-)</p>
