<div class="center jumbotron">
    <h1>Welcome to the BEST Sample App ever seen</h1>
    
    <%= link_to "Sign up now !", "#", class: "btn btn-lg btn-primary" %>
</div>

<div class="rails-img">
    <%= link_to image_tag("rails.png", :width => 100, alt: "Rails logo"), 'http://rubyonrails.org/' %>
</div>
