<!DOCTYPE html>
<html>
    <footer class="footer">
        <small class="footer-expert">
            The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorail</a>
            by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
        </small>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "About", about_path, id: "about" %></li>
                <li><%= link_to "Contact", contact_path, id: "contact" %></li>
                <li><a href="http://news.railstutorial.org/">News</a></li>
            </ul>
        </nav>
    </footer>
</html>